.header {
    font-family: 'Orbitron', Helvetica, Arial, sans-serif;
}

.header--main, h1 {
    font-size: 5rem;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.header--secondary, h2 {
    font-family: 'Orbitron', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 6rem;
    letter-spacing: .15rem;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

@media (min-width: 576px) {
    .header--main, h1 {
        font-size: 6rem;
    }
}

@media (min-width: 768px) {
    .header--main, h1 {
        font-size: 7rem;
    }
}

@media (min-width: 992px) {
    .header--main, h1 {
        font-size: 9rem;
    }
}

@media (min-width: 1200px) {
    .header--main, h1 {
        font-size: 12rem;
    }
}