<template>
  <main class="home-page" :class="{ 'home-page--started': pageStarted }">
    <h1 class="home-page__header header header--main">{{ pageProperties.title }}</h1>
    <div class="home-page__content">
      <p>
        Welcome to Erikdevelop, the place where Erik shows off his projects and screams his biased, half-educated opinions
        into the void.
      </p>
      <p>
        As the most degenerate example of crossbreeding, Erik is a webdeveloper that specialises in graphical programming,
        animations, and 3D visualisation.
      </p>
    </div>
  </main>
</template>

<script setup>
import { defineProps, ref, onMounted, toRaw } from 'vue';
import { usePageInfoStore } from '@/stores/pageInfoStore';
import { useHeroStore } from '@/stores/heroStore';


defineProps({
  pageStarted: {
    type: Boolean,
    default: false,
  }
});

const pageInfoStore = usePageInfoStore();
const heroStore = useHeroStore();

const pageProperties = ref({});

onMounted(() => {
  pageInfoStore.getPageInfo()
    .then((result) => {
      const pageInfo = toRaw(result);
      pageProperties.value = pageInfo.Home.properties;

      heroStore.currentHero = pageProperties.value.hero;
    });
});
</script>

<style>
.home-page__content {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.25rem;
  margin-top: 1rem;
  max-width: 128rem;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: opacity 0.5s linear 0.25s;
}

.home-page--started .home-page__content {
  opacity: 1;
}
</style>