<template>
  <div class="app">
    <div class="app__navigation">
      <navigation-bar :entries="menuOptions"/>
    </div>
    <div 
      class="app__page"
      :class="{ 'app__page--visible': pageVisible }">
      <router-view 
        class="page"
        :page-started="pageStarted"
        ></router-view>
    </div>
    <div class="app__hero">
      <hero 
        :fullscreen="true"
        :source="currentHero"
        @animationFinished="showPage"/>
    </div>
  </div>
</template>

<script setup>
import navigationBar from '@/components/App/navigationBar.vue';
import hero from '@/components/App/hero.vue';
import { ref, onMounted, toRaw } from 'vue';
import { usePageInfoStore } from '@/stores/pageInfoStore';
import { useHeroStore } from '@/stores/heroStore';
import { storeToRefs } from 'pinia';

const heroStore = useHeroStore();
const pageInfoStore = usePageInfoStore();

const menuOptions = ref({});
const { currentHero } = storeToRefs(heroStore);
const { pageVisible, pageStarted } = storeToRefs(pageInfoStore);

function showPage() {
  pageInfoStore.pageVisible = true;

  setTimeout(() => {
    pageInfoStore.pageStarted = true;
  }, 250)
}

onMounted(() => {
  pageInfoStore.getPageInfo()
    .then((result) => {
      menuOptions.value = toRaw(result)
    });
});
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Orbitron|Ubuntu&display=swap');
@import url('./styles/general.css');
@import url('./styles/headers.css');
@import url('./styles/pages.css');
@import url('./styles/variables.css');

.app {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--edev-color-white);
  font-size: 2rem;
  letter-spacing: 0.5px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.app__hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.app__page {
  position: inherit;
  width: 100%;
  height: auto;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.app__page--visible {
  opacity: 1;
}

.app__navigation {
  position: inherit;
  width: 100%;
  height: auto;
  z-index: 4;
}

.app__footer {
  position: absolute;
  bottom: 0;
  z-index: 3;
}
</style>
